@charset "utf-8";

/* すべて共通*/
body {
    font-size: 14px;
    font-family:'Noto Sans JP', sans-serif;
    background-color: #FFFFFF;
    color: #333;
    padding: 0;
    margin: 0;
}

/* header */
.header {
    height: 60px;
    margin-bottom: 0;
}
.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 10px;
    position: fixed;
    background: #FFFFFF;
    width: 100%;
}
.header-logo {
    margin-left: 55px;
    display: inline-flex;
    align-items: center;
}
.logo {
    height: 29px;
}
.nav {
    list-style: none;
    text-decoration-line: none;
    padding-left: 200px;
}
.nav li {
    font-weight: bold;
    width: flex;
    text-align: left;
    display: inline-block;
    margin-right: 10px;
}
.nav a {
    color: black;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: underline;
    color:  #005bac;
}
.nav-sec {
    list-style: none;
    align-items: center;
}
.nav-sec li {
    margin: auto;
    height: 60px;
    width: 60px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
}
.nav-sec .menu {
    background: white;
    height: 60px;
    width: 60px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}
.nav-sec .menu span {
    border-bottom: 2px solid black;
    width: 30px;
    margin: auto;
}
.nav-sec .menu span:nth-child(1) {
    border-bottom-color: black;
}
.nav-sec .menu span:nth-child(2) {
    border-bottom-color: black;
}
.nav-sec .menu span:nth-child(3) {
    border-bottom-color: black;
}

/* breadcrumb */
.breadcrumb {
    font-size: 12px;
    padding-left: 120px;
    margin: 20px;
}
.breadcrumb ol {
    list-style-type: none;
}
.breadcrumb li {
    display: inline;
}
.breadcrumb li::after {
    content: " > ";
    color: #999999;
}
.breadcrumb li:last-child::after {
    content: none;
}
.breadcrumb a {
    text-decoration: none;
    color: #999999;
}

/* keyvisual */
.keyvisual {
    max-width: 100%;
    height: 250px;
    margin: 0 auto 30px auto;
    position: relative;
}
.mainimage {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.maintitle {
    color: #fff;
    width: 100%;
    max-width: 1000px;
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    margin: auto;
}
.subt {
    font-size: 20px;
    line-height: 28px;
}
.maint {
    font-size: 28px;
    line-height: 42px;
    font-weight: bold;
}

/* main */
.MainContent {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
.MainContent .MainContentTitle {
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
    padding-left: 32px;
    margin-bottom: 30px;
    position: relative;
}
.MainContentTitle:before {
    content: "";
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 22px;
    width: 22px;
    background-image: url('../images/bg-heading-h2.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 8px;
    left: 0px;
}

/* SNS */
.MainContent .SNS ul {
    width: 172px;
    height: 34px;
    margin: 0 0 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.MainContent .SNS ul:first-child:before {
    content: "Share";
    font-size: 12px;
    font-weight: bold;
    line-height: 1.5;
    color: #333333;
}
.MainContent .SNS li {
    list-style: none;
}
.MainContent .SNS img {
    height: 24px;
    width: 24px;
}
.MainContent .Margin {
    margin-bottom: 40px;    
}
.MainContentTitle {
    margin-bottom: 60px;
}
.Text {
    font-size: 16px;
    line-height: 1.875;
    color: #333333;
}
.TextSpace {
    margin-bottom: 46px;
}
.MainContent .ContentImage {
    width: 100%;
}
.DigitalTransformation {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    font-size: 16px;
}
.pdf {
    display: inline-block;
    min-height: 30px;
    font-size: 16px;
    line-height: 19.2px;
    color: #fff;
    background: #005bac;
    border: solid 1px #005bac;
    padding: 15px 20px;
    position: relative;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
}
.DigitalTransformation a:before {
    content: ">";
    font-weight: 400;
    font-size: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
}
.DigitalTransformation a:after {
    content: "";
    background: url(../images/icon-pdf.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 16px;
    height: 16px;
    margin: 0 0 0 11px;
    vertical-align: -2px;
}
.guide {
    font-size: 16px;
    position: relative;
    display: flex;
    margin: 0 -10px;
    padding: 0 10px;
    margin-bottom: 100px;
}
.guide a {
    text-decoration: none;
}
.guide a:hover {
    text-decoration: underline;
}
.guide-left {
    text-align: left;
    position: absolute;
    left: 0;
}
.guide-right {
    position: absolute;
    right: 0;
}
.StrongPoint {
    background: #deecf8;
    padding: 10px;
    margin-bottom: 60px;
}
.NRIStrong {
    font-size: 16px;
    line-height: 30px;
}
.Strongitem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -10px;
}
.Strongitem .item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    color: #0c419a;
    border: solid 1px #ccc;
    background: #fff;
    padding: 15px 10px;
    position: relative;
    margin: 0 20px 20px 20px;
}
.item:before {
    content: ">";
    font-family: icomoon;
    font-weight: 400;
    color: #231815;
    font-size: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 10px;
    margin: auto;
}
.item a {
    text-decoration: none;
    color: #0c419a;
}
.Strongitem .item:hover {
    background: #ebeaea;
}
.Strongitem .above {
    height: 70px;
}
.Strongitem .below {
    height: 50px;
}
/* 各ページリンク */
.footer {
    border-top: 2px solid #333;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
}
.CompanyInfo {
    padding: 0;
}
.CompanyInfo_title {
    padding: 18px 0 30px 0;
    border-bottom: 1px dotted #999;
}
.CItitle {
    font-size: 20px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.Management {
    border-bottom: 1px dotted #999;
    padding: 30px 0;
}
.Mtitle {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.Management ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.Management li {
    list-style: none;
    width: 220px;
    margin: 20px 10px 0 10px;
}
.Management li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color: #0c419a;
}
.Management li a:hover {
    text-decoration: underline;
}
.Management li a:before {
    content: "";
    background: url(../images/icon-chevronRight.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px 0 0;
}
.CorporateGuidance {
    border-bottom: 1px dotted #999;
    padding: 30px 0;
}
.CGtitle {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.CorporateGuidance ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.CorporateGuidance li {
    list-style: none;
    width: 220px;
    margin: 20px 10px 0 10px;
}
.CorporateGuidance li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color: #0c419a;
}
.CorporateGuidance li a:hover {
    text-decoration: underline;
}
.CorporateGuidance li a:before {
    content: "";
    background: url(../images/icon-chevronRight.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px 0 0;
}
.NRIStrong2 {
    border-bottom: 1px dotted #999;
    padding: 30px 0;
}
.NRIStitle {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.NRIStrong2 ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.NRIStrong2 li {
    list-style: none;
    width: 220px;
    margin: 20px 10px 0 10px;
}
.NRIStrong2 li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color: #0c419a;
}
.NRIStrong2 li a:hover {
    text-decoration: underline;
}
.NRIStrong2 li a:before {
    content: "";
    background: url(../images/icon-chevronRight.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px 0 0;
}
.NRIGroup {
    border-bottom: 1px dotted #999;
    padding: 30px 0;
}
.NRIGtitle {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.NRIGroup ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.NRIGroup li {
    list-style: none;
    width: 220px;
    margin: 20px 10px 0 10px;
}
.NRIGroup li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color: #0c419a;
}
.NRIGroup li a:hover {
    text-decoration: underline;
}
.NRIGroup li a:before {
    content: "";
    background: url(../images/icon-chevronRight.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px 0 0;
}
.BusinessDomain {
    border-bottom: 1px dotted #999;
    padding: 30px 0;
}
.BDtitle {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.BusinessDomain ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}
.BusinessDomain li {
    list-style: none;
    width: 220px;
    margin: 20px 10px 0 10px;
}
.BusinessDomain li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color: #0c419a;
}
.BusinessDomain li a:hover {
    text-decoration: underline;
}
.BusinessDomain li a:before {
    content: "";
    background: url(../images/icon-chevronRight.svg) no-repeat;
    background-size: contain;
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px 0 0;
}
.guide2 {
    font-size: 16px;
    position: relative;
    display: flex;
    margin: 50px 0 100px 0;
    padding: 0 10px;
}
.guide2 a {
    text-decoration: none;
}
.guide2 a:hover {
    text-decoration: underline;
}
.guide-left2 {
    text-align: left;
    position: absolute;
    left: 0;
}

/* フッター*/
.footer_sns {
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    padding: 30px 0;
    text-align: center;
    font-size: 0;
}
.footer_sns ul {
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}
.footer_sns ul li {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    margin-left: 40px;
}
.footer_sns img {
    height: 28px;
}

/* サイトマップ */
.footerTop {
    width: 1000px;
    margin: 0 auto;
    margin: 40px auto 70px auto;
}
.footerContent {
    display: flex;
    flex-wrap: wrap;
}
.middle{
    margin-top: 80px;
}
.below {
    margin-top: 80px;
}
.footerItem {
    margin: 0;
    padding: 0 0 0 20px;
    width: 225px;
}
.itemTitle {
    padding-bottom: 10px;
}
.itemTitle a {
    display: block;
    padding: 12px 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    color: #333333;
    text-decoration: none;
}
.itemTitle a:hover {
    text-decoration: underline;
}
.itemTitle a:before {
    content: "";
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0;
    height: 8px;
    width: 8px;
    background-image: url('../images/icon-chevronRight.svg');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}
.footerItem ul {
    padding: 0;
    margin: 0;
}
.footerItem ul:first-child {
    padding-top: 13px;
}
.footerItem li {
    list-style: none;
    padding-bottom: 16px;
}
.footerItem li a {
    text-decoration: none;
    font-size: 14px;
    line-height: 1.5;
    color: #666666;
}
.footerItem li a:before {
    content: "";
    display: inline-block;
    margin: 0 6px 0 0;
    padding: 0;
    height: 8px;
    width: 8px;
    background-image: url('../images/icon-chevronRight.svg');
    background-repeat: no-repeat;
    background-size: contain;
    vertical-align: middle;
}

.footerInfo {
    border-top: 1px solid #ccc;
}
.footerInfo ul {
    padding: 0;
    width: 1000px;
    font-size: 12px;
    display: flex;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
}
.footerInfo li {
    list-style: none;
    font-size: 12px;
    color: #999999;
}
.footerInfo a {
    text-decoration: none;
    color: #999999;
}
.footerInfo a:hover {
    text-decoration: underline;
}
.footerInfo li:before {
    content: "｜";
    margin-right: 12px;
}
.footerInfo li:first-child:before {
    content: none;
}
.copyright {
    max-width: 1000px;
    margin: auto;
    font-size: 10px;
    color: #999999;
    padding-top: 10px;
    padding-bottom: 100px;
}